*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
    font-weight: 100;
}
.activities{
    margin: 0 1%;
}
.latest {
    border-top: 3px solid #000;
    padding: 10px;
}
.post-title-group{
    display: flex;
    justify-content:space-between ;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin: 50px 0 20px 0;
}
.post-title-group h1{
    font-size: 18px;
}
.post-title-group h1>span{
    display: block;
    font-size: 11px;
    color: #ccc;
}
.post-title-group a{
    font-size: 13px;
    margin: 15px;
}
.seemore{
    color: #f50;
}
.seemore svg{
    vertical-align: middle;
    display: inline-block;
    border: 1px solid #f50;
    padding: 8px;
    border-radius: 50%;
    margin: 0 5px;
}
.info-ProMax {
    width: 100%;
}
img{
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
}
.info-ProMax img{
    width: 102%;
    object-position: 0 0;
    border-radius: 0;
    margin-left: -1%;
}
.topic-text{
    margin: 10px;
}
.topic-text h1{
    font-size: 18px;
    margin-bottom: 10px;
}
.topic-text h2{
    font-size: 12px;
    margin-bottom: 10px;
}
.topic-text p{
    font-size: 11px;
}
.symbol img{
    width: 20px;
    vertical-align: middle;
}
.symbol {
    width: 100%;
    display: inline-block;
    white-space:nowrap ;
    overflow: hidden;
    font-size: 12px;
    background-image:linear-gradient(to right, transparent 50% #fff 100%);
}
.post-info{
    width: 100%;
    box-sizing: border-box;
    gap: 2%;
}
.more-info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 2%;
}
.info {
    width: 49%;
    box-sizing: border-box;
    margin-bottom: 20px;
    /* border: 1px solid #000; */
}
.info .text{
    font-size: 14px;
}
.info .date{
    font-size: 12px;
}
@media screen and (min-width:768px){
    .info-ProMax img{
        border-radius: 10px;
        width: 100%;
        margin: 0;
    }
    .post-info{
        width: 100%;
        display: flex;
        box-sizing: border-box;
    }
    .post-info .info-ProMax{
        width: 50%;
    }
    .post-info .more-info{
        width: 50%;
    }
    .post-title-group h1{
        font-size: 26px;
    }

}
@media screen and (min-width:1200px){
    .activities{
        max-width: 1200px;
        margin: auto;
    }

}